*.apk
*.aar
*.ap_
*.aab
*.iml
*.class
*.dex
*.log

bin/
gen/
out/

.gradle
/local.properties
/.idea/caches
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
